In [40]:
import os
import pandas as pd
from sqlalchemy import create_engine, text

In [41]:


def save_to_db(engine, df, table_name):
    sql_command = text(f"""
        INSERT INTO {table_name} (datetime, open, high, low, close, adj_close, volume) 
        VALUES (:datetime, :open, :high, :low, :close, :adj_close, :volume) 
        ON CONFLICT (datetime) DO NOTHING;
    """)
    with engine.connect() as conn:
        transaction = conn.begin()
        try:
            for index, row in df.iterrows():
                conn.execute(sql_command, {
                    'datetime': row['datetime'], 
                    'open': row['open'], 
                    'high': row['high'], 
                    'low': row['low'], 
                    'close': row['close'], 
                    'adj_close': row['adj_close'], 
                    'volume': row['volume']
                })
            transaction.commit()
        except:
            transaction.rollback()
            raise

def process_files(folder_path, file_filter, table_name):
    # Create a connection to your database
    parameters_global = {'engine': 'postgresql+psycopg2://ali:finance@localhost:5433/finance'}
    engine = create_engine(parameters_global['engine'])
    total_length = 0
    # List all files in the given folder
    for file_name in os.listdir(folder_path):
        if file_filter in file_name:  # Filter files containing '1min'
            file_path = os.path.join(folder_path, file_name)
            df = pd.read_csv(file_path)
            # Prepare DataFrame for database insertion
            df.columns = [col.replace(' ', '_').lower() for col in df.columns]
            df['datetime'] = pd.to_datetime(df['datetime'])
            # Save to database
            save_to_db(engine, df, table_name)
# Usage
folder_path = '../data/future/MESM24'
file_filter = '1min'
table_name = 'es'  # Assuming 'es' is the table name where you want to insert the data

process_files(folder_path, file_filter, table_name)

1016
1373
1364
1002
1357
1366
1360
1368
1000
1368
1351

In [42]:
# Query data back to check
engine = create_engine('postgresql+psycopg2://ali:finance@localhost:5433/finance')
with engine.connect() as conn:
    result = pd.read_sql('SELECT * FROM es ORDER BY datetime DESC;', conn)
    print(result)

                       datetime     open     high      low    close  \
0     2024-05-03 20:59:00+00:00  5161.00  5161.50  5160.75  5161.50
1     2024-05-03 20:58:00+00:00  5160.75  5161.00  5160.50  5160.75
2     2024-05-03 20:57:00+00:00  5160.75  5161.00  5160.75  5161.00
3     2024-05-03 20:56:00+00:00  5160.25  5161.00  5160.25  5160.75
4     2024-05-03 20:55:00+00:00  5160.25  5160.50  5160.00  5160.50
...                         ...      ...      ...      ...      ...
13920 2024-04-19 04:04:00+00:00  5000.75  5000.75  5000.75  5000.75
13921 2024-04-19 04:03:00+00:00  5000.75  5000.75  5000.75  5000.75
13922 2024-04-19 04:02:00+00:00  5000.75  5000.75  5000.75  5000.75
13923 2024-04-19 04:01:00+00:00  5000.75  5000.75  5000.75  5000.75
13924 2024-04-19 04:00:00+00:00  5000.75  5000.75  5000.75  5000.75

       adj_close  volume
0        5161.50     196
1        5160.75      89
2        5161.00      36
3        5160.75      66
4        5160.50      80
...          ...     ...
13920    5000.75     251
13921    5000.75     360
13922    5000.75     603
13923    5000.75     674
13924    5000.75       0

[13925 rows x 7 columns]

In [43]:
# Subtract 4 hours from the datetime column
result['datetime'] = result['datetime'].dt.tz_convert('America/New_York')

result

,datetime,open,high,low,close,adj_close,volume
0,2024-05-03 16:59:00-04:00,5161.00,5161.50,5160.75,5161.50,5161.50,196
1,2024-05-03 16:58:00-04:00,5160.75,5161.00,5160.50,5160.75,5160.75,89
2,2024-05-03 16:57:00-04:00,5160.75,5161.00,5160.75,5161.00,5161.00,36
3,2024-05-03 16:56:00-04:00,5160.25,5161.00,5160.25,5160.75,5160.75,66
4,2024-05-03 16:55:00-04:00,5160.25,5160.50,5160.00,5160.50,5160.50,80
...,...,...,...,...,...,...,...
13920,2024-04-19 00:04:00-04:00,5000.75,5000.75,5000.75,5000.75,5000.75,251
13921,2024-04-19 00:03:00-04:00,5000.75,5000.75,5000.75,5000.75,5000.75,360
13922,2024-04-19 00:02:00-04:00,5000.75,5000.75,5000.75,5000.75,5000.75,603
13923,2024-04-19 00:01:00-04:00,5000.75,5000.75,5000.75,5000.75,5000.75,674
13924,2024-04-19 00:00:00-04:00,5000.75,5000.75,5000.75,5000.75,5000.75,0